{% extends 'base.html'%}

{% block title %}feedback{% endblock %}


{% block content %}


<!--<form action="/keys/feedback/" method="POST">-->
<!--{% csrf_token %}-->
<!--  <div class="mb-3">-->
<!--    <label for="exampleInputPassword1" class="form-label">Код активации</label>-->
<!--    <input type="password" class="form-control" id="exampleInputPassword1" name = 'activation'>-->
<!--  </div>-->
<!--  <button type="submit" class="btn btn-primary">Активировать</button>-->
<!--</form>-->
<!--<form>-->
<!--{{ form }}-->
<!--    <button type="submit" class="btn btn-primary">Активировать</button>-->
<!--</form>-->
{% endblock  %}